.formContainer {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.formSearch {
  display: flex;
  align-items: center;
  width: 400px;
  background-color: #a2a8d3;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 20px 0 20px 0;
}
.input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}
.buttonSubmit {
  border: none;
  background-color: #38598b;
  color: white;
  padding: 8px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
